# Move to /etc/systemd/system/node-dynamic-dns.service
# Run `systemd-analyze verify node-dynamic-dns` to check for errors in config
# Run `systemctl enable node-dynamic-dns` to enable the service
# Run `service node-dynamic-dns start` to start the service

[Unit]
Description=Node app to keep this machine's external IP sync'd with DigitalOcean DNS
After=network-online.target
Requires=network-online.target

# Automatically restart process if crashed
[Service]
Restart=on-failure
RestartSec=10s
# Drop root proviliges and switch to main
User=main
Group=main
# Setup logging with journald
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-dynamic-dns
# Start the process
ExecStartPre=/bin/echo "\n---------- `date` ----------\nLaunching node-dynamic-dns service."
ExecStart=/usr/local/bin/node-dynamic-dns.js

# Run on startup
[Install]
WantedBy=multi-user.target
